@keyframes loader {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}

@-moz-keyframes loader {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}

@-webkit-keyframes loader {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}

@-o-keyframes loader {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}